scopeName: 'source.dircolors'
name: 'dircolors'
fileTypes: [ 'dircolors' ]
patterns: [
      {
        begin: '(^\\s+)?(?<!\\S)(?=#)(?!#\\{)'
        beginCaptures:
          '1':
            name: 'punctuation.whitespace.comment.leading.dircolors'
        end: '(?!\\G)'
        patterns: [
              {
                begin: '#'
                beginCaptures:
                  '0':
                    name: 'punctuation.definition.comment.dircolors'
                end: '\\n'
                name: 'comment.line.number-sign.dircolors'
              }
          ]
      }
      {
          match: "\\b[0-3]?[0-9]#[0-9a-zA-Z]+\\b"
          name: "constant.numeric.radix.dircolors"
      }
      {
          match: "\\b\\d+?\\b"
          name: "constant.numeric.dircolors"
      }
      {
          match: """(?x)
              ^ (\\s*)
              (TERM|COLOR|EIGHTBIT|OPTION|NORMAL|NORM|FILE|RESET|DIR|LNK|LINK|SYMLINK|ORPHAN|MISSING
              |FIFO|PIPE|SOCK|BLK|BLOCK|CHR|CHAR|DOOR|EXEC|LEFT|LEFTCODE|RIGHT|RIGHTCODE|END|ENDCODE
              |SUID|SETUID|SGID|SETGID|STICKY|OTHER_WRITABLE|OWR|STICKY_OTHER_WRITABLE|OWT|CAPABILITY
              |MULTIHARDLINK|CLRTOEOL)
              (?=\\s|\\#|$)
          """
          captures:
              1: name: "punctuation.whitespace.comment.leading.dircolors"
              2: name: "keyword.other.dircolors"
      }
      {
          match: "^(\\s*)([^\\s#]+)"
          captures:
              1: name: "punctuation.whitespace.comment.leading.dircolors"
              2: name: "keyword.other.extension.dircolors"
      }
  ]
